@import "variables";
*{
    Margin:0;
    padding:0;
}
body{    
    background-color: black;
}

.header{
    background-color:black;
    margin-bottom: 1rem;
}
.header__logo{    
    width: 130px;
}
.header__navigation{
    background-color: $colorSecundario;  
    align-content: center;
    align-items: center;
    text-align: center;
    ul {
        list-style:none;
        display: inline-table;
        
        li {
            display:inline-block;
            position: relative;    
            padding-left: 2rem;
            margin-top: 1rem;
            a{ 
                list-style-position: outside;
                color: $colorFontParrafo;
                font-size: 1.5rem;
                text-decoration: none;     
                padding: 0.5rem;
                font-weight: bold;
            }
            a:hover{
                background-color: $colorCeleste;
                color: black !important;
            
                border-radius: 1rem;
            }
        }
    }
}
/*--- MENU HAMBURGUESA ---*/
.header__navigation2{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    justify-self: center;
    
    a{ 
        color:black;
        font-size: 1.5rem;
        text-decoration: none;     
        padding: 0.5rem;
        font-weight: bold;
    }
    a:hover{
        background-color:$colorCeleste;
        border-radius: 1rem;
        color: black !important;
    }
}

.bg-info{
    background-color: $colorCeleste!important;
    margin-left: 0.5rem;
}

.footer {    
    background-color:$colorCeleste;
    margin-top: 1rem;
    padding: 1rem;
    position: absolute;
    width: 100%;
    justify-content: center;
}

#contenedor{
    min-height: calc(100vh - 200px);
}

.footer__iconos{
   width:  35px;   
   justify-content: center;
   display: inline-block;
}
.footer__logo{
    width: 30px;
}
.footer__texto{
    font-weight: bold;
    font-size: small;
    font-size: 1.5rem;
}

.footer__texto-mail{   
    display: inline-block;
    color: black;
}

.footerFlex{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    align-items: center;
}

.noticias{
    font-family: 'Prompt', sans-serif;
}

.noticias__parrafo{
    margin: 1rem;
    color:$colorFontParrafo;   
    line-height: 1.5;
    text-align: left;
    padding: 2rem;
}

.noticias__parrafo--destacadas{
    font-style: oblique;
    font-size: large;
    background-color: $colorSecundario;
}

.img-max {
    max-width: 150px;
    margin: 1rem;
  }

.agrandarImagen {
    transition: all 0.3s; }
    .agrandarImagen:hover {
      transform: scale(1.1, 1.1); }

a {
    text-align: center;
}
.blog__busqueda{
    clear: right;
    margin-left: 100rem;
    margin-top: 1rem;
    color:$colorFontParrafo;
    font-size: 1.4rem;
}
.blog__parrafo{
    font-size: 1.8rem;    
}



.margenp{
    margin-top: 5rem;
    margin-bottom: 5rem;
}    
h1{
    text-align: center;
    font-size: $fontSizeTitulo;
    margin: 2rem;
    margin-top: 8rem;
}
h2{
    text-align: center;
    font-size: ($fontSizeTitulo - 2rem);    
}

.bordesNegros{
    -webkit-text-stroke: 2px black;
}

.bordesRedondeados{
    border-radius: 1rem;
}

.buttonIniciarSesion{
    position: absolute;
    margin: auto;
    right: 1rem;
    top: 1rem;
}

.carousel-item{
    max-height: 500px;
}

.imagenCarousel{
    max-height: 700px;
}

/*------------------Index---------------*/

#imagenPrincipal {
    width: 75%;
    margin-bottom: 1rem;
    max-height: 500px;
}
  
#contenedorImagenPrincipal {
    position: relative; 
    display:block;
    margin:auto;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 10rem;
}


.TextoImagenPrincipal {
    position: absolute;
    top: 1%; 
    left: 14%;
    color: white;
    font-family:'Mitr', sans-serif;
    font-weight: bold 700;
}

.Texto2ImagenPrincipal{
    position: absolute;
    top: 60%;
    left: 14%;
    margin-top: 1rem;
    transform: translate(0%, -50%);
    color: white;
    font-size: 4rem;
    font-family:'Mitr', sans-serif;
    font-weight: bold 700;
}

/*-----Usando FOR--------*/
@for $i from 1 through 2 {
    #mediaIndex#{$i} {    grid-area: mediaIndex#{$i};  
        justify-self: center;
        align-self: center;
        margin: 1rem;
        width:350px; }
}


/*------------------Productos---------------*/
#gridProductosGrande {
    display: grid; 
    justify-content: center;
    grid-template-areas:
      "imagenProducto1  parrafoProducto1"
      "imagenProducto1  imagenTienda1"
      "imagenProducto1  imagenTienda11"
      "imagenProducto2  parrafoProducto2"
      "imagenProducto2  imagenTienda2"
      "imagenProducto2  imagenTienda22"
      "imagenProducto3  parrafoProducto3"
      "imagenProducto3  imagenTienda3"
      "imagenProducto3  imagenTienda33";
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 2rem;
}
#imagenProducto1 {
    grid-area: imagenProducto1;  
    justify-self: end;
    align-self: center;
    margin: 1rem;        
    width:570px;
    height:350px;
}
#parrafoProducto1 {
    grid-area: parrafoProducto1; 
    justify-self: start;
    align-self: center;
    font-size: 1.8rem;    
}
#imagenTienda1{
    grid-area: imagenTienda1;  
    justify-self: start;
    align-content: flex-end;
    margin: 1rem;         
    width:10px;
    height:50px;    
}
#imagenTienda11{
    grid-area: imagenTienda11;  
    justify-self: start;
    align-content: flex-start;
    margin: 1rem;         
    width:10px;
    height:50px;    
}
#imagenProducto2 {
    grid-area: imagenProducto2;  
    justify-self: end;
    align-self: center;
    margin: 1rem;         
    width:570px;
    height:350px;
}
#parrafoProducto2 {
    grid-area: parrafoProducto2; 
    justify-self: start;
    align-self: center;
    font-size: 1.8rem;    
}
#imagenTienda2{
    grid-area: imagenTienda2;  
    justify-self: start;
    align-content: center;
    margin: 1rem;           
    width:10px;
    height:50px;
}
#imagenTienda22{
    grid-area: imagenTienda22;  
    justify-self: start;
    align-content: flex-start;
    margin: 1rem;           
    width:10px;
    height:50px;
}
#imagenProducto3 {
    grid-area: imagenProducto3;  
    justify-self: end;
    align-self: center;
    margin: 1rem;         
    width:570px;
    height:350px;
}
#parrafoProducto3 {
    grid-area: parrafoProducto3; 
    justify-self: start;
    align-self: center;
    font-size: 1.8rem;    
}
#imagenTienda3{
    grid-area: imagenTienda3;  
    justify-self: start;
    align-content: center;
    margin: 1rem;   
    width:100px;
     height:40px; 
}
#imagenTienda33{
    grid-area: imagenTienda33;  
    justify-self: start;
    align-content: flex-start;
    margin: 1rem;        
    width:10px;
    height:50px;
}
#gridProductosChica {
    display: grid; 
    justify-content: center;
    grid-template-areas:
      "imagenProductoChico1  imagenProductoChico2   imagenProductoChico3"
      "parrafoProductoChico1 parrafoProductoChico2  parrafoProductoChico3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;    
    margin-top: 4rem;
}
#imagenProductoChico1 {
    grid-area: imagenProductoChico1;  
    justify-self: end;
    align-self: center;
    margin: 1rem;
    width:300px;
}
#parrafoProductoChico1 {
    grid-area: parrafoProductoChico1; 
    justify-self: end;
    width: 30rem;
    font-size: 1.5rem;   
}
#imagenProductoChico2 {
    grid-area: imagenProductoChico2;  
    justify-self: center;
    align-self: center;
    margin: 1rem;        
    width:300px;
}
#parrafoProductoChico2 {
    grid-area: parrafoProductoChico2; 
    justify-self: center;
    width: 30rem;
    font-size: 1.5rem;    
}
#imagenProductoChico3 {
    grid-area: imagenProductoChico3;  
    justify-self: start;
    align-self: center;
    margin: 1rem;        
    width:300px;
}
#parrafoProductoChico3 {
    grid-area: parrafoProductoChico3; 
    justify-self: start;
    width: 30rem;
    font-size: 1.5rem;
}



/*------------------Novedades---------------*/
#gridNovedades {
    display: grid; 
    justify-content: center;
    grid-template-areas:
      "ImagenNot1   ImagenNot2"
      "TituloNot1   TituloNot2"
      "CopeteNot1   CopeteNot2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}
#ImagenNot1 {
    grid-area: ImagenNot1;  
    justify-self: center;
    align-self: center;
    margin: 1rem;        
    width:500px;
}
#TituloNot1 {
    grid-area: TituloNot1; 
    justify-self: center;
    align-self: center;
    width: 45rem; 
    font-size: 5rem;
}
#CopeteNot1 {
    grid-area: CopeteNot1; 
    justify-self: center;
    width: 45rem; 
}#ImagenNot2 {
    grid-area: ImagenNot2;  
    justify-self: center;
    align-self: center;
    margin: 1rem;        
    width:500px;
}
#TituloNot2 {
    grid-area: TituloNot2; 
    justify-self: center;
    align-self: center;
    width: 45rem; 
    
    font-size: 5rem;
}
#CopeteNot2 {
    grid-area: CopeteNot2; 
    justify-self: center;
    width: 45rem; 
}

.ImgNovedad{
    width:500px;
}

.ImgNovedad:hover{
    transform: scale(1.2,1.2);
}
.margenNot{
    display:block; margin:2rem auto ;
    width: 75rem;
}

.centraImagen{display:block;
    margin:auto;
    margin-top: 8rem;
}

/*------------------Oportunidades---------------*/


form {
    color:white;
}
   

.areaContacto .textoFormulario {
    width: auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .areaContacto form {
    line-height: 1rem; }
  .areaContacto h2 {
    color:white;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 5rem;
    font-size: 6rem;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }
  .areaContacto p {
    color:white;
    font-size: 2rem;
    text-align: left;
    text-transform: initial;
    line-height: 2rem;
    margin-bottom: 3rem;
    margin-right: 3rem; }
  .areaContacto label {
    font-size: 2rem;
    line-height: 2rem; }
    .inputFormulario {
        width: 100%;
        height: 3rem;
        margin-bottom: 0.5rem;
        transition: width 0.5s, height 0.5s; }

.largolabel{
    width: 40px;
    margin: 1rem;
}


@each $button in enviarFormulario,vaciarFromulario  {
    .#{$button} { 
        float: left;
        margin-left: 13rem;       
        @if $button == enviarFormulario {
            width: 10rem;
        }@else if $button == vaciarFromulario{
            width: 5rem;          
        }
    }    
} 

/*--- Error 404 ---*/
#imagenError{
    float: left;
    width: 200px;
}  

p{
    color: white;
    font-size: 2rem;
    text-align: left;
    text-transform: initial;
    margin: 1rem;
    letter-spacing: 1px;
}

h1{
    color: $colorFontParrafo;
}

h2{
    color: $colorFontParrafo;
}
h3{
    color: $colorCeleste;    
    font-weight: 700;
    text-transform: uppercase;
    line-height: 5rem;
    font-size: 4rem;
    text-align: center;
    margin-top: 0px;
}

form label {
    font-size: 1.2rem;
    font-weight: bold;
}
form textarea{
    width: 100%;
}

/* boton form oportunidades*/
.button1{
    color: black;
    background-color: $colorCeleste;
    width: 150px;
    height: 35px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;  
    justify-self: center;
    font-size: 1.2rem;
    border: none; 
    font-weight: bold;
    border-radius: 1rem;
    a{
        color: black;
        text-decoration: none;   
    }
}

.bloqueGames{
    margin: 4rem;
}
.bloqueNovedades{
    margin: 4rem;
}
.bloqueOportunidades{
    margin: 4rem;
}

.itemmenu{
    text-decoration: none;
    color: $colorCeleste!important;
}
.navbar-light .navbar-nav .nav-link{
    color:$colorCeleste ;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:black ;
}

.navbar-toggler{
    color: $colorCeleste!important;
}

.fondoColor{
    color: $colorCeleste;
    z-index: 1000;
}

/*boton ver mas*/
.button2{    
    color: black;
    background-color: $colorCeleste;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700; 
    justify-self: center;
    margin: 1rem;
    font-size: 1rem;
    border: none; 
    border-radius: 1rem;
}


.seleccionNav{
    background-color: $colorCeleste;
    border-radius: 1rem;
    color: black!important;
}

.navbar-nav > li{
    padding-left:0.5rem;
    padding-right:0.5rem;
}

.align-items-center {
    align-items: center!important;
    margin: 5rem;
}

.card-group {
    margin: 1rem;
}

.card-group>.card{
    margin-right: 1rem;
}

.align-items-center{
    margin: 0rem !important;;
}

hr{
    color: white;
}