@import "variables";
*{
    Margin:0;
    padding:0;
}
body{    
    background-color: black;
}

.header{
    background-color:black;
    margin-bottom: 1rem;
}
.header__logo{    
    width: 130px;
}
.header__navigation{
    background-color: $colorSecundario;  
    align-content: center;
    align-items: center;
    text-align: center;
    ul {
        list-style:none;
        display: inline-table;
        
        li {
            display:inline-block;
            position: relative;    
            padding-left: 2rem;
            margin-top: 1rem;
            a{ 
                list-style-position: outside;
                color: $colorFontParrafo;
                font-size: 1.5rem;
                text-decoration: none;     
                padding: 0.5rem;
                font-weight: bold;
                transition: 3ms;
            }
            a:hover{
                background-color: $colorPrincipal;
                color: black !important;
            
                border-radius: 1rem;
                transform:scale(2)
            }
        }
    }
}

nav a img{
    
    transition: all 0.3s;
}
nav a img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}
/*--- MENU HAMBURGUESA ---*/
.header__navigation2{
    align-content: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    justify-self: center;    
    a{ 
        color:black;
        font-size: 1.4rem;
        text-decoration: none;     
        padding: 0.5rem;
        font-weight: bold;
    }
    a:hover{
        background-color:$colorPrincipal;
        border-radius: 1rem;
        color: black !important;
    }
}

p{
    color: white;
    font-size: 2rem;
    text-align: left;
    text-transform: initial;
    margin: 1rem;
    letter-spacing: 0.5px;
}

h1{
    color: $colorFontParrafo;    
    text-align: center;
    margin: 2rem;
    margin-top: 8rem;
    font-weight: bold;
    letter-spacing: 1px;
}

h2{
    color: $colorFontParrafo;    
    text-align: center;
      
}
h3{
    color: $colorPrincipal;  
    text-transform: uppercase;
    line-height: 5rem;
    text-align: center;
    margin-top: 0px;
    font-style: italic;
}

.bg-info{
    background-color: $colorPrincipal!important;
    margin-left: 0.5rem;
}

.footer {    
    background-color:$colorPrincipal;
    margin-top: 1rem;
    padding: 1rem;
    position: absolute;
    width: 100%;
    justify-content: center;
}

#contenedor{
    min-height: calc(100vh - 200px);
}

.footer__iconos{
   width:  35px;   
   justify-content: center;
   display: inline-block;
   transition: 2ms;
}
.footer__iconos:hover{
    transition: 2ms;
    transform: scale(1.1);
}
.footer__logo{
    width: 30px;
}
.footer__texto{
    font-weight: bold;
    font-size: small;
    font-size: 1.5rem;
}

.footer__texto-mail{   
    display: inline-block;
    color: black;
}

.footerFlex{
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    align-items: center;
}

.noticias{
    font-family: 'Prompt', sans-serif;
}

.noticias__parrafo{
    margin: 1rem;
    color:$colorFontParrafo;   
    line-height: 1.5;
    text-align: left;
    padding: 2rem;
}

.noticias__parrafo--destacadas{
    font-style: oblique;
    font-size: large;
    background-color: $colorSecundario;
}

.img-max {
    max-width: 150px;
    margin: 1rem;
  }

.agrandarImagen {
    transition: all 0.3s; }
    .agrandarImagen:hover {
      transform: scale(1.1, 1.1); }

a {
    text-align: center;
    text-decoration: none;
}
.blog__busqueda{
    clear: right;
    margin-left: 100rem;
    margin-top: 1rem;
    color:$colorFontParrafo;
    font-size: 1.4rem;
}
.blog__parrafo{
    font-size: 1.8rem;    
}

.margenp{
    margin-top: 5rem;
    margin-bottom: 5rem;
}    


.bordesNegros{
    -webkit-text-stroke: 2px black;
}

.bordesRedondeados{
    border-radius: 1rem;
}

.buttonIniciarSesion{
    position: absolute;
    margin: auto;
    right: 1rem;
    top: 1rem;
}

.carousel-item{
    max-height: 500px;
}

.imagenCarousel{
    max-height: 700px;
}

/*------------------Index---------------*/

#imagenPrincipal {
    width: 75%;
    margin-bottom: 1rem;
    max-height: 500px;
    margin-top: 10rem;
}
 

.containerImagenPrincipal {
    position: relative;
}

.text-block {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

    animation-duration: 4s;
    animation-name: aparecer;    
}

@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.containerMovil {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    position:relative;
}
  
.text-blockMovil {
    color: white;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.imagenZoom{
    transition: all 1s;
}
.imagenZoom:hover{
    
    transform: scale(0.8);
    transition: all 1s;
}

.tituloImagenPrincipal{    
    color: white;
    font-family: 'Alegreya', serif;
}
.subtituloImagenPrincipal {
    color: white;
    font-family: 'Alegreya', serif;
}
.TextoImagenPrincipalMovil {
    color: $colorPrincipal;
    font-weight: 700;
    font-family: 'Alegreya', serif;
}

/*-----Usando FOR--------*/
@for $i from 1 through 2 {
    #mediaIndex#{$i} {    grid-area: mediaIndex#{$i};  
        justify-self: center;
        align-self: center;
        margin: 1rem;
        width:350px; }
}

.margenNot{
    display:block; margin:2rem auto ;
    width: 75rem;
}

.centraImagen{
    display:block;
    margin:auto;
    margin-top: 8rem;
}

.bloqueOportunidades{
    margin: 4rem;
}

.bloqueOportunidades img:hover{
    transition:all 0.3s;
    transform: scale(1.1);
}

/*---------------- OPORTUNIDADES ---------------------*/

form {
    color:white;
}   

.areaContacto .textoFormulario {
    width: auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .areaContacto form {
    line-height: 1rem; }
  .areaContacto h2 {
    color:white;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 5rem;
    font-size: 6rem;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }
  .areaContacto p {
    color:white;
    font-size: 2rem;
    text-align: left;
    text-transform: initial;
    line-height: 2rem;
    margin-bottom: 3rem;
    margin-right: 3rem; }
  .areaContacto label {
    font-size: 2rem;
    line-height: 2rem; }
    .inputFormulario {
        width: 100%;
        height: 3rem;
        margin-bottom: 0.5rem;
        transition: width 0.5s, height 0.5s; }

.largolabel{
    width: 40px;
    margin: 1rem;
}


@each $button in enviarFormulario,vaciarFromulario  {
    .#{$button} { 
        float: left;
        margin-left: 13rem;       
        @if $button == enviarFormulario {
            width: 10rem;
        }@else if $button == vaciarFromulario{
            width: 5rem;          
        }
    }    
} 

/* boton form oportunidades*/
.button1{
    width: 150px;
    height: 35px;
    text-transform: uppercase;
    font-weight: 700;  
    font-size: 1.2rem;
    border: none; 
    font-weight: bold;
    border-radius: 1rem;
    transition: all 0.4s;    
    color: black;
    background-color: $colorPrincipal;

    a{
        color: black;
        text-decoration: none;   
    }
}

.button1:hover{
    background-color: black;
    border: 2px solid $colorPrincipal;
    border-color: $colorPrincipal;
    width: 180px;
    transition: all 0.3s;    
    color: white;
}


form label {
    font-size: 1.2rem;
    font-weight: bold;
}
form textarea{
    width: 100%;
}

/*boton form*/
.button2{    
    color: black;
    background-color: $colorPrincipal;
    width: 60px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700; 
    justify-self: center;
    margin: 1rem;
    font-size: 1rem;
    border: none; 
    border-radius: 1rem;
}

.button2:hover{
    color: white;
    background-color: black;
    border: 2px solid $colorPrincipal;
    border-color: $colorPrincipal;
}

/*---------------- GAMES ---------------------*/
.bloqueGames{
    margin: 4rem;
}
.bloqueGames img{
    transition:all 0.3s;
}
.bloqueGames img:hover{
    transition:all 0.3s;
    transform: scale(1.1);
}

/*---------------- NOVEDADES ---------------------*/
.bloqueNovedades{
    margin: 4rem;
}

.bloqueNovedades img:hover{
    transition:all 0.3s;
    transform: scale(1.1);
}

.card-group {
    margin: 1rem;
}

.card-group>.card{
    margin-right: 1rem;
}

  
/*---------------- ERROR 404 ---------------------*/
#imagenError{
    text-align: center;
}  

.itemmenu{
    text-decoration: none;
    color: $colorPrincipal!important;
}
.navbar-light .navbar-nav .nav-link{
    color:$colorPrincipal ;
    border-radius: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:black ;
}

.navbar-toggler{
    color: $colorPrincipal!important;
}

.fondoColor{
    color: $colorPrincipal;
    z-index: 1000;
}

.seleccionNav{
    background-color: $colorPrincipal;
    border-radius: 1rem;
    color: black!important;
}

.navbar-nav > li{
    padding-left:0.5rem;
    padding-right:0.5rem;
}

.align-items-center {
    align-items: center!important;
    margin: 5rem;
}

.modal-content{
    min-height: 300px!important;
    min-width: 300px!important;
}

.align-items-center{
    margin: 0rem !important;;
}

hr{
    color: white;
    border: 1px solid white;
}

.enlace{
    font-size: 1.5rem;
}

.iconoStore{
    text-align: center;
}

.contQuienesSomos{
    margin-top: 5rem;
}

