/*------------------Responsive index---------------*/
/*---Pantalla pequeña--*/
@media only screen and (min-width: 240px) { 
    #parrafoIndex1 {
    justify-self: center; 
    width: 40rem;
    font-size: 1.4rem;        
    }
    #mediaIndex1 {
    width:400px;
    height:230px;
    }
    #mediaIndex2 {
    width:400px;
    }     
    #parrafoIndex2 { 
    width: 40rem;
    font-size: 1.4rem;        
    }
    .textoImagenPrincipalMovil{
        font-size: 2.5rem;
    }
    .containerMovil {
        top: 4rem!important;        
    }
    h1{
        font-size: 2.5rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h2{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px)  {    
    p {
        font-size: 1.5rem; 
    }
    .button1{
        width: 100px;
        height: 25px;
    }
    .footer__iconos{
        width: 20px;
    }
    .footer__logo{
        width: 25px;
    }
    .footer__texto{
        font-size: 1rem;
    }
    .footer__texto-mail{
        font-size: 1rem;
        margin: 0rem;
    }
    .containerImagenPrincipal{
        display: none;
    }
}

@media only screen and (min-width: 500px){
    h3{
        font-size: 3rem;
    }
    h2{
        font-size: 4rem;
    }
    h1{
        font-size: 5rem;
    }
}

/*---TABLET---*/
@media only screen and (min-width: 769px) { 
    .fotterFinal{    
        bottom: (100vh - 100vh);    
    }
    .containerMovil{
        display: none;
    }
    #parrafoIndex1 {
        justify-self: center; 
        width: 50rem;
        font-size: 1.8rem;        
    }
    #mediaIndex1 {
        width:540px;
        height:300px;
    }
    #mediaIndex2 {
        width:540px;
    }     
    #parrafoIndex2 { 
        width: 50rem;
        font-size: 1.8rem;        
    }
    .tituloImagenPrincipal{
        font-size: 5rem;
        text-align: left;
    }
    .subtituloImagenPrincipal{
        font-size: 3rem;
        text-align: left;
    }
}

/*---DESKTOP---*/
@media only screen and (min-width: 1150px) {
    .tituloImagenPrincipal{
        font-size: 7rem;
    }
    .subtituloImagenPrincipal{
        font-size: 5rem;
    }
}

