/*Paleta de colores*/

$colorCeleste:#09f7eb;


$colorSecundario: #0c0c0c;

$colorFontParrafo:#08d6dd;

/*Font Size titulos*/
$fontSizeTitulo: 8rem;

/*Caja parrafos */
$anchoParrafoGrande:56rem;
$anchoParrafoChico:30rem;



