/*Paleta de colores*/
/*$colorPrincipal: #FFEED9;
$colorSecundario: #FBC88A;
$colorHeaderFooter: #C7B9A9;
$colorExtra: #FAE9D4;

$colorFontParrafo:#7A6243;*/

$colorPrincipal: #000000;
$colorSecundario: #0c0c0c;
$colorHeaderFooter: #09f7eb;
$colorExtra: #FAE9D4;

$colorFontParrafo:#08d6dd;

/*Font Size titulos*/
$fontSizeTitulo: 8rem;

/*Caja parrafos */
$anchoParrafoGrande:56rem;
$anchoParrafoChico:30rem;

/*Tamaño de logos*/
$anchoLogo: 130px;


