/*Paleta de colores*/

//$colorCeleste:#09f7eb;

$colorPrincipal:#5ed85e;
$colorFontParrafo:#5ed85e;

$colorSecundario: #0c0c0c;



/*Caja parrafos */
$anchoParrafoGrande:56rem;
$anchoParrafoChico:30rem;



